.TodoList {
  margin: 50px auto;
  width: 30%;
  padding: 20px 0;
  background-color: #ffafcc;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.TodoList h1 {
  padding: 0 40px;
  margin: 0;
}

.TodoList p {
  padding: 0 40px;
  margin-top: 0;
  font-size: 15px;
}

@media (max-width: 1200px) {
  .TodoList {
    width: 40%;
  }
}

@media (max-width: 992px) {
  .TodoList {
    width: 50%;
  }
}

@media (max-width: 768px) {
  .TodoList {
    width: 60%;
  }
}

@media (max-width: 576px) {
  .TodoList {
    width: 80%;
  }
}
